name: Conformance Test

on:
  push

jobs:
  conformance:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        module: [party-catalog, resource-function-activation]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '17'
          java-package: jdk

      - name: Execute tests
        id: test
        run: |
          mvn clean install -Pconformance-test --projects common,mapping,${{matrix.module}} -DskipTests -DskipITs

      - name: Collect results
        shell: bash
        run: |
          if [[ $(cat ${{matrix.module}}/target/jsonResults.json | jq '.run.failures') == [] ]]; then
            exit 0
          else
            cat ${{matrix.module}}/target/jsonResults.json
            exit 1
          fi