name: Parallel Tests

on:
  push


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module: [ customer-management, party-catalog, product-catalog, resource-catalog, resource-function-activation, resource-inventory, service-catalog]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '17'
          java-package: jdk

      - name: Execute tests
        id: test
        run: |
          mvn clean test integration-test --projects common,mapping,resource-shared-models,${{matrix.module}}